{% if site.data.settings.blog_settings.enable == true %}
<!-- begin blog -->
<section class="section blog animate">
  <div class="container">

    <div class="section__info">
      <div class="section__head">
        <h2 class="section__title"><i class="fa-solid fa-pencil"></i> {{ site.data.settings.blog_settings.blog_title }}</h2>
        <a class="section__link" href="{{ '/blogs' | relative_url }}">View all <i class="fa-solid fa-arrow-right-long"></i></a>
      </div>
      {% if site.data.settings.blog_settings.blog_description %}
      <p class="section__description">{{ site.data.settings.blog_settings.blog_description }}</p>
      {% endif %}
    </div>

    <div class="grid animate">
      {% if site.posts.size > 0 %}
        {% for post in site.posts offset:0 limit:3 %}
        {% include article-list.html %}
        {% endfor %}
      {% endif %}
    </div>

  </div>

</section>
<!-- end blog -->
{% endif %}
